@{
    DexCMS.Base.Models.PageContent pageContent = ViewBag.PageContent;
    Layout = System.Web.Configuration.WebConfigurationManager.AppSettings["PublicLayoutPath"];
    var contentCssClass = "content " + pageContent.Heading.ToLower().Replace(" ", "-");

}

@section head {
    @RenderSection("head", required: false)
}

<div class="before-content column">

    @Html.Partial("Base/_ContentBlocksAll", pageContent)


    @RenderSection("beforeContent", required: false)
</div>
<div class="column">
    <div class="@contentCssClass">
        <h2 class="content-title">@pageContent.Heading</h2>
        @Html.Partial("Base/_ImagesAll", new ViewDataDictionary { { "PageContent", pageContent }, { "ImageType", "Gallery" }, { "CssClass", "flexslider" }, { "SubCssClass", "slides" } })

        @Html.Raw(pageContent.Body)


        @RenderBody()
    </div>
    <div class="after-content">
        @RenderSection("afterContent", required: false)
    </div>
</div>
@section scripts {
    @RenderSection("scripts", required: false)
}