@model DexCMS.Base.Mvc.Models.ForgotPasswordViewModel

<h2>@ViewBag.PageContent.Heading</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-box", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "")
    <p>
        Old accounts could not be transfered to the new site. This form will only work for new
        accounts created with this system.
        </p>
    <p>If you enter an unrecognized email address, no email
        will be sent.
    </p>
    <div class="form-item">
        <span class="form-lbl">Enter your email</span>
        <div>
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>
    <div class="form-btn">
            <input type="submit" value="Email Link" />
    </div>
}
