@model DexCMS.Base.Mvc.Models.ChangePasswordViewModel

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post,
                new { @class = "form-box", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "")
    <div class="form-item">
        @Html.LabelFor(m => m.OldPassword, new { @class = "form-lbl" })
        <div>
            @Html.PasswordFor(m => m.OldPassword)
            @Html.ValidationMessageFor(m => m.OldPassword)
        </div>
    </div>
    <div class="form-item">
        @Html.LabelFor(m => m.NewPassword, new { @class = "form-lbl" })
        <div>
            @Html.PasswordFor(m => m.NewPassword)
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>
    </div>
    <div class="form-item">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-lbl" })
        <div>
            @Html.PasswordFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ConfirmPassword)

        </div>
    </div>

    <div class="form-btn">
        <input type="submit" value="Change password" />
        <a class="pseudo-btn" href="@Url.Content("~/manage")">Back to Manage Account</a>
    </div>
}
