@model DexCMS.Base.Mvc.Models.ChangePasswordViewModel

<h2>@ViewBag.PageContent.Heading</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, 
    new { @class = "form-box", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary("")
    <div class="form-item">
        @Html.LabelFor(m => m.OldPassword, new { @class = "form-lbl" })
        <div>
            @Html.PasswordFor(m => m.OldPassword)
        </div>
    </div>
    <div class="form-item">
        @Html.LabelFor(m => m.NewPassword, new { @class = "form-lbl" })
        <div>
            @Html.PasswordFor(m => m.NewPassword)
        </div>
    </div>
    <div class="form-item">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-lbl" })
        <div>
            @Html.PasswordFor(m => m.ConfirmPassword)
        </div>
    </div>

    <div class="form-btn">
            <input type="submit" value="Change password" />
        <a class="pseudo-btn" href="@Url.Content("~/manage")">Back to Manage Account</a>
    </div>
}
