@model DexCMS.Base.Mvc.Models.SetPasswordViewModel

@using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-box", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h3>Create Local Login</h3>

    @Html.ValidationSummary("")
    <div class="form-item">
        @Html.LabelFor(m => m.NewPassword, new { @class = "form-lbl" })
        <div>
            @Html.PasswordFor(m => m.NewPassword)
        </div>
    </div>
    <div class="form-item">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-lbl" })
        <div>
            @Html.PasswordFor(m => m.ConfirmPassword)
        </div>
    </div>
    <div class="form-btn">
            <input type="submit" value="Set password" />
    </div>
}
